### SQL Date and Time

In [1]:
import pandas as pd 
import sqlite3

#### Date and Time

```SQL
SELECT DATETIME('now');
SELECT DATE('now');
SELECT TIME('now');
SELECT DATETIME('now', '+1 day');
SELECT DATETIME('now', '+3 days');
SELECT DATETIME('now', '-1 month');
SELECT DATETIME('now', '+1 year');
SELECT DATETIME('now', '+3 hours', '+27 minutes', '-1 day', '+3 years');
```

In [2]:
con = sqlite3.connect("data/world.db")
pd.read_sql_query("SELECT DATETIME('now', '+1 day');", con)

  DATETIME('now', '+1 day')
0       2020-09-23 14:52:10

In [3]:
pd.read_sql_query("SELECT DATETIME('now', '+3 hours', '+27 minutes', '-1 day', '+3 years');", con)

  DATETIME('now', '+3 hours', '+27 minutes', '-1 day', '+3 years')
0                                2023-09-21 18:19:39